*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

.carousel-container {
    width: 50%;
    margin: auto;
    overflow: hidden; 
    border: 5px solid black;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}